<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Year
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Container rendered when year exists -->
  <ng-container *ngIf="year">



    <!-- Year selector -->
    <previous-next #previousNext
                   [text]="year.yearNumber"
                   (previous)="setPrevious()"
                   (next)="setNext()"
                   [textClass]="isThisYear(year) ? 'current-time--inverted' : ''">



      <!-- Months grid -->
      <div class="year-grid">

        <div class="year-grid__row"
             *ngFor="let monthRow of getRowsOfMonths()">

          <div class="year-grid__col"
               *ngFor="let month of monthRow">

            <!-- Month -->
            <a href="javascript:void(0)"
               (click)="showMonth(month)"
               class="touch-link">
              <table class="year-month">


                <!-- Month name -->
                <thead>
                  <tr>
                    <td colspan="7"
                        class="year-month__name"
                        [class.current-time]="isThisMonth(month)">{{ getMonthName(month) }}</td>
                  </tr>
                </thead>


                <!-- Day of week names -->
                <tr>
                  <td *ngFor="let dayOfWeek of getDaysOfWeek()"
                      class="year-month__day-of-week"
                      [class.year-month__day--sunday]="dayOfWeek.type == 'sunday'"
                      [class.year-month__day--saturday]="dayOfWeek.type == 'saturday'">{{ dayOfWeek.name }}</td>
                </tr>


                <!-- Actual day number -->
                <tr *ngFor="let week of month.weeks"
                    class="year-month__week">
                  <td *ngFor="let day of week.days"
                      class="year-month__day"
                      [class.year-month__day--sunday]="day.isSunday()"
                      [class.year-month__day--saturday]="day.isSaturday()"
                      [class.current-time]="isToday(day)">
                    {{ week.isFromPreviusNextMonth(day) ? '' : day.dayNumber }}
                  </td>
                </tr>


              </table>
            </a>


          </div>

        </div>

      </div>



    </previous-next>



  </ng-container>
</ion-content>
