.year-month {
  border: none;
  font-size: 1.5vw;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  height: 100%;

  @media screen and (orientation:portrait) {
    font-size: 2.5vw;
  }

  @media screen and (orientation:landscape) {
    font-size: 1vw;
  }

  &__name {
    text-align: center;
    padding: 2px;
    background-color: $non-current-point-time-background-color;
  }

  &__week {
    border: none;
  }

  &__day-of-week{
    padding: 2px;
    opacity: 0.5;
  }

  &__day {
    padding: 2px;
    border: none;
  }
}

.year-grid {
  // height: calc(100% - #{$previous-next-height});
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly; // Not supported by the emulator.
  }

  &__col {
    display: flex;
    justify-content: center;
  }
}
