<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Year
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div class="year">

    <table *ngFor="let month of year?.months"
           class="month">
      <tr *ngFor="let week of month.weeks"
          class="month__week">
        <td *ngFor="let day of week.days"
            class="month__day">
          {{ day.dayNumber }}
        </td>
      </tr>
    </table>

  </div>

</ion-content>
