<div class="selector">

  <!-- Previous -->
  <div class="selector__previous">
    <button class="nav-button"
            [disabled]="previousButtonDisabled"
            (click)="emitPrevious()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </div>

  <!-- Text -->
  <div [ngClass]="['selector__current', textClass]">{{ text }}</div>

  <!-- Next -->
  <div class="selector__next">
    <button class="nav-button"
            [disabled]="nextButtonDisabled"
            (click)="emitNext()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>

</div>

<!-- Dynamic content -->
<div class="dynamic-content"
     #dynamicContent>

  <ng-content></ng-content>

</div>
