.time-gauge {
  width: 100%;

  &__view-box {
    width: 100%;
  }

  &__working-time {
    stroke: $time-gauge-working-color;
  }

  &__resting-time {
    stroke: $time-gauge-resting-color;
  }

  &__working-time-text {
    fill: $time-gauge-working-color;

    &--blink {
      animation-name: blink;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
