<div class="time-gauge">
  <svg class="time-gauge__view-box"
       [attr.viewBox]="'0' + ' ' + '0' + ' ' + (boxDimesion * resolution) + ' ' + (boxDimesion * resolution)">
    <defs>
      <radialGradient id="inset">
        <stop [attr.offset]="innerGradientStart + '%'"
              stop-color="transparent" />
        <stop [attr.offset]="innerGradientStart + '%'"
              [attr.stop-color]="placeholderColor" />
        <stop offset="100%"
              [attr.stop-color]="placeholderColor" />
      </radialGradient>
    </defs>
    <circle fill="url(#inset)"
            [attr.cx]="radius * resolution"
            [attr.cy]="radius * resolution"
            [attr.r]="radius * resolution" />
    <ng-container *ngFor="let path of pathData">
      <path fill="none"
            [attr.class]="path.className"
            [attr.stroke-width]="strokeWidth * resolution"
            [attr.d]="path.d" />
    </ng-container>
    <text class="time-gauge__working-time-text"
          [attr.font-size]="25 * resolution"
          [attr.x]="radius * resolution"
          [attr.y]="radius * resolution"
          text-anchor="middle"
          alignment-baseline="middle"> {{ totalWorkedTime }} </text>
  </svg>
</div>
