$month-border-color: $application-interaction;

.month {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;

  &__table {
    border: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    height: 75%;
  }

  &__week {
    border: 1px solid $month-border-color;
  }

  &__day-of-week {
    opacity: 0.5;
  }

  &__day {
    border: 1px solid $month-border-color;

    &--saturday {
      color: $saturday-color;
    }

    &--sunday {
      color: $sunday-color;
    }

    &--other-month {
      opacity: 0.25;
    }
  }
}
