<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Month
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <!-- Month selector -->
  <previous-next *ngIf="month"
                 #previousNext
                 [text]="getMonthName()"
                 (previous)="setPrevious()"
                 (next)="setNext()"
                 [textClass]="month.isThisMonth() ? 'current-time--inverted' : ''">



    <!-- Previous/next wants only one direct child -->
    <div class="month-page">


      <!-- Month -->
      <table class="month__table">


        <!-- Day of week names -->
        <tr>
          <td *ngFor="let dayOfWeek of getDaysOfWeek()"
              class="month__day-of-week"
              [class.sunday]="dayOfWeek.type == 'sunday'"
              [class.saturday]="dayOfWeek.type == 'saturday'">{{ dayOfWeek.name }}</td>
        </tr>


        <!-- Actual day number -->
        <tr *ngFor="let week of month.weeks"
            class="month__week">
          <td *ngFor="let day of week.days"
              class="month__day"
              [style.background]="!day.isToday() ? getDayBackgroundGradient(day) : ''"
              [class.sunday]="day.isSunday()"
              [class.saturday]="day.isSaturday()"
              [class.month__day--other-month]="week.isFromPreviusNextMonth(day)"
              [class.selected-day]="isSelectedDay(day) && !week.isFromPreviusNextMonth(day)"
              [class.current-time]="day.isToday()">

            <!-- Day link -->
            <a href="javascript:void(0)"
               (click)="showDay(day)"
               class="touch-link">
              {{ day.dayNumber }}
            </a>


          </td>
        </tr>


      </table>


      <!-- Statistics -->
      <ion-card class="corrected-card">

        <ion-card-content>
          Some statistics...
        </ion-card-content>

      </ion-card>



    </div>



  </previous-next>



</ion-content>
