<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Month
    </ion-title>
    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="showToday()">
        <ion-icon name="locate"></ion-icon>
      </button>
      <button ion-button
              icon-only
              (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <!-- Month selector -->
  <previous-next *ngIf="month"
                 #previousNext
                 [text]="getMonthName()"
                 (previous)="setPrevious()"
                 (next)="setNext()"
                 [textClass]="month.isThisMonth() ? 'current-time--inverted' : ''">



    <!-- Previous/next wants only one direct child -->
    <div class="month">


      <!-- Month -->
      <table class="month__table">


        <!-- Day of week names -->
        <tr>
          <td *ngFor="let dayOfWeek of getDaysOfWeek()"
              class="month__day-of-week"
              [class.sunday]="dayOfWeek.type == 'sunday'"
              [class.saturday]="dayOfWeek.type == 'saturday'">{{ dayOfWeek.name }}</td>
        </tr>


        <!-- Actual day number -->
        <tr *ngFor="let week of month.weeks"
            class="month__week">
          <td *ngFor="let day of week.days"
              class="month__day"
              [style.background]="!day.isToday() && !isSelectedDay(day) ? getDayBackgroundGradient(day) : ''"
              [class.sunday]="day.isSunday()"
              [class.sunday--inverted]="day.isSunday() && day.isToday()"
              [class.saturday]="day.isSaturday()"
              [class.saturday--inverted]="day.isSaturday() && day.isToday()"
              [class.month__day--other-month]="week.isFromPreviusNextMonth(day)"
              [class.current-time]="day.isToday()"
              [class.selected-day]="!day.isToday() && isSelectedDay(day) && !week.isFromPreviusNextMonth(day)">

            <!-- Day link -->
            <a href="javascript:void(0)"
               (click)="showDay(day)"
               class="touch-link">
              {{ day.dayNumber }}
            </a>


          </td>
        </tr>


      </table>


      <!-- Statistics -->
      <ion-card class="corrected-card">

        <ion-card-content>

          <table class="statistics">
            <tr>
              <td rowspan="3"
                  class="statistics__title">Statistics</td>
              <td class="statistics__label">Total</td>
              <td>{{ month.getFormattedWorkedTotalTime() }}</td>
            </tr>
            <tr>
              <td class="statistics__label">Average / day</td>
              <td>{{ month.getFormattedWorkedAverageTime() }}</td>
            </tr>
            <tr>
              <td class="statistics__label">Days worked</td>
              <td>{{ month.getDaysWorkedCount() }}</td>
            </tr>
          </table>

        </ion-card-content>

      </ion-card>



    </div>



  </previous-next>



</ion-content>
