$week-graph-bar-width: 10%;
$week-graph-bar-font-size: 1rem;
$week-graph-bar-label-gap: $week-graph-bar-font-size * 2;

.week {
  height: 100%;
  padding-top: $week-graph-bar-label-gap;
}

.week-graph {
  height: 75%;
  background: aliceblue;

  &__bars-area {
    display: flex;
    background: lighten($week-graph-background-color, 7.5%);
    border-bottom: 1px solid $black;
    width: 100%;
    height: calc(100% - #{$week-graph-bar-label-gap});
    position: relative;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    background-color: $week-graph-bar-color;
    height: 50%; //Controlar con style
    width: $week-graph-bar-width;
    margin-left: calc((100% / 7) - #{$week-graph-bar-width} - ((100% / 7) - #{$week-graph-bar-width}) / 8);
  }

  &__hours {
    transform: translateY(-100%);
    color: $week-graph-day-hours-color;
    opacity: 0.5;
  }

  &__label-area {
    display: flex;
  }

  &__label {
    display: flex;
    justify-content: center;
    width: $week-graph-bar-width;
    margin-left: calc((100% / 7) - #{$week-graph-bar-width} - ((100% / 7) - #{$week-graph-bar-width}) / 8);
    color: $week-graph-day-name-color;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__average-line {
    position: absolute;
    border: 0.5px solid $week-graph-average-color;
    width: 100%;
    top: 0%; //Controlar
  }

  &__average-label {
    position: absolute;
    margin-left: 1rem;
    padding: 1px 5px;
    color: $white;
    background-color: $week-graph-average-color;
  }
}
