.week {
  &__name {
    text-transform: uppercase;
    text-align: center;
  }
}

.week-graph {
  border: 2px dashed red;
  height: 50%; //Controlar

  &__graph {
    display: flex;
    position: relative;
    background: aliceblue;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    background-color: pink;
    height: 60%; //Controlar con nth-child
    width: 2rem;
    margin-left: calc(14.28% - 2rem);
  }

  &__hours {
    transform: translateY(-100%);
  }

  &__day-name {
    transform: translateY(120%);
  }

  &__average-line {
    position: absolute;
    border: 0.5px solid orangered;
    width: 100%;
    top: 100% - 45%; //Controlar
  }

  &__average-label {
    position: absolute;
    transform: translateY(-100%);
    margin-left: 2%;
    color: orangered;
  }
}
