<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Week
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showToday()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>



  <!-- Week selector -->
  <previous-next *ngIf="week"
                 #previousNext
                 [text]="week.name"
                 (previous)="setPrevious()"
                 (next)="setNext()"
                 [textClass]="isThisWeek() ? 'current-time--inverted' : ''">


    <!-- Previous/next wants only one direct child -->
    <div class="week">



      <!-- Graph (wrapper) -->
      <div class="week-graph">



        <!-- Actual graph -->
        <div class="week-graph__bars-area">



          <!-- Bar -->
          <a href="javascript:void(0)"
             (click)="showDay(day)"
             class="touch-link week-graph__bar"
             [class.selected-day--darker]="!day.isToday() && isSelectedDay(day)"
             [class.current-time--lighter]="day.isToday()"
             [style.height]="day.getTotalTimeAsPercent() + '%'"
             *ngFor="let day of week.days">

            <div class="week-graph__hours">{{ day.getFormattedTotalTime() }}</div>

          </a>


          <!-- Average -->
          <div *ngIf="week.isWorked()"
               class="week-graph__average-line"
               [style.top]="100 - week.getWorkedAverageTimeAsPercent() + '%'">
            <div class="week-graph__average-label">{{ week.getFormattedWorkedAverageTime() }}</div>
          </div>
        </div>



        <!-- Day labels -->
        <div class="week-graph__label-area">
          <div class="week-graph__label"
               [class.sunday]="dayOfWeek.type == 'sunday'"
               [class.saturday]="dayOfWeek.type == 'saturday'"
               *ngFor="let dayOfWeek of getDaysOfWeek()">{{ dayOfWeek.name }}</div>
        </div>



      </div>



      <!-- Statistics -->
      <ion-card class="corrected-card">

        <ion-card-content>

          <table class="statistics">
            <tr>
              <td rowspan="3"
                  class="statistics__title">Statistics</td>
              <td class="statistics__label">Total</td>
              <td>{{ week.getFormattedWorkedTotalTime() }}</td>
            </tr>
            <tr>
              <td class="statistics__label">Average / day</td>
              <td>{{ week.getFormattedWorkedAverageTime() }}</td>
            </tr>
            <tr>
              <td class="statistics__label">Days worked</td>
              <td>{{ week.getDaysWorkedCount() }}</td>
            </tr>
          </table>

        </ion-card-content>

      </ion-card>



    </div>



  </previous-next>



</ion-content>
