<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Day
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <!-- Day selector -->
  <previous-next *ngIf="day"
                 #previousNext
                 [text]="getDayText()"
                 (previous)="setPrevious()"
                 (next)="setNext()"
                 [textClass]="isToday() ? 'current-time--inverted day__name' : 'day__name'">


    <!-- Day wrapper -->
    <div class="day">


      <!-- Gauge -->
      <ng-container *ngIf="day">
        <time-gauge [day]=day></time-gauge>
      </ng-container>


    </div>


  </previous-next>


</ion-content>
