<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Day
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <!-- Day selector -->
  <previous-next *ngIf="day"
                 #previousNext
                 [text]="getDayText()"
                 (previous)="setPrevious()"
                 (next)="setNext()"
                 [textClass]="isToday() ? 'current-time--inverted' : ''">


    <!-- Day wrapper -->
    <div class="day">


      <!-- Gauge -->
      <div class="time-gauge__container">
        <div class="time-gauge__gauge">
          <time-gauge #gauge [day]=day></time-gauge>
        </div>
      </div>


      <!-- Checkings -->
      <ion-list class="checking-list">

        <ion-list-header>
          Checkings
        </ion-list-header>


        <!-- Entries generation -->
        <ion-item-sliding #slidingItem *ngFor="let checking of day.getOrderedCheckings()">

          <ion-item>
            <ion-icon [name]="isCheckingIn(checking) ? 'arrow-forward' : 'arrow-back'"
                      [class.checking-list__in-arrow]="isCheckingIn(checking)"
                      [class.checking-list__out-arrow]="!isCheckingIn(checking)"
                      item-start></ion-icon>
            {{ checking.toString() }}
          </ion-item>

          <ion-item-options side="left">
            <button ion-button
                    color="danger"
                    (click)="deleteChecking(slidingItem, checking)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            <button ion-button
                    color="secondary"
                    (click)="editChecking(slidingItem, checking)">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
          </ion-item-options>


        </ion-item-sliding>
      </ion-list>

      <!-- Add checking -->
      <ion-fab right
               bottom>
        <button ion-fab
                color="light"
                (click)="addChecking()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>


    </div>


  </previous-next>


</ion-content>
