/*
  General concepts.
*/
$white: white;
$black: black;
$working-time: #add8e6;
$resting-time: #ffaeff;
$application-info: orangered;
$application-info-light: lighten(orangered, 15%);
$application-interaction: gainsboro;

/*
  Point time.
*/
$current-point-time-background-color: $application-info;
$current-point-time-color: $white;
$non-current-point-time-background-color: $application-interaction;

/*
  Special days.
*/
$saturday-color: blue;
$sunday-color: red;

/*
  Time gauge component.
*/
$time-gauge-working-color: $working-time;
$time-gauge-resting-color: $resting-time;

/*
  Week graph.
*/
$week-graph-background-color: transparent;
$week-graph-bar-color: $working-time;
$week-graph-average-color: darken($application-info, 7.5%);
$week-graph-day-name-color: $black;
$week-graph-day-hours-color: $black;

/*
  Touch link.
*/
$touch-link-background-color: $application-interaction;
