/*
  Point time.
*/
$current-point-time-background-color: orangered;
$current-point-time-color: white;
$non-current-point-time-background-color: gainsboro;

/*
  Special days.
*/
$saturday-color: blue;
$sunday-color: red;

/*
  Time gauge component.
*/
$time-gauge-working-color: blue;
$time-gauge-resting-color: fuchsia;

/*
  Touch link.
*/
$touch-link-background-color: gainsboro;
