/*
  Statistics table.
*/
.statistics {
  width: 100%;
  height: 100%;


  &__title {
    color: $application-info;
    border-right: 1px solid $application-info;
    text-align: right;
    padding-right: $ionic-margin-top;
    width: 10%;
  }

  &__label {
    font-weight: bold;
    opacity: 0.75;
    width: 40%;
    padding-left: $ionic-margin-top;
  }
}
