@import './colors';

/*
  Current point in time.
*/
.current-time {
  background-color: $current-point-time-background-color !important;
  color: $current-point-time-color !important;

  &--lighter {
    background-color: lighten($current-point-time-background-color, 30%) !important;
    color: $current-point-time-color !important;
  }

  &--inverted {
    background-color: transparent;
    color: $current-point-time-background-color;
  }
}

/*
  Selected day.
*/
.selected-day {
  background-color: lighten($touch-link-background-color, 7.5%) !important;

  &--darker {
    background-color: darken($touch-link-background-color, 7.5%) !important;
  }
}

/*
  Days of weekend.
*/
.saturday {
  color: $saturday-color !important;

  &--inverted {
    color: $white !important;
  }
}

.sunday {
  color: $sunday-color !important;

  &--inverted {
    color: $white !important;
  }
}

/*
  Side menu time item.
*/
.time-menu {
  text-transform: capitalize;
}
