@import './colors';

/*
  Current point in time.
*/
.current-time {
  background-color: $current-point-time-background-color !important;
  color: $current-point-time-color !important;

  &--inverted {
    background-color: transparent;
    color: $current-point-time-background-color;
  }
}

/*
  Selected day.
*/
.selected-day {
  background-color: lighten($touch-link-background-color, 10%);
}
